<div class="gestor-container">
  <button (click)="goHome()">Página Inicial</button>
  <header>
    <h1>Área do Gestor</h1>
  </header>

  <nav class="gestor-menu">
    <a routerLink="/gestor/taxis" routerLinkActive="active" class="btn" [routerLinkActiveOptions]="{ exact: true }">Gerir Táxis</a>
    <a routerLink="/gestor/motoristas" routerLinkActive="active" class="btn" [routerLinkActiveOptions]="{ exact: true }">Gerir Motoristas</a>
    <a routerLink="/gestor/confortos" routerLinkActive="active" class="btn" [routerLinkActiveOptions]="{ exact: true }">Gerir Confortos</a>
    <a routerLink="/gestor/stats" routerLinkActive="active" class="btn" [routerLinkActiveOptions]="{ exact: true }">Ver Estatísticas</a>
  </nav>

  <main class="gestor-conteudo">
    <router-outlet></router-outlet>
  </main>
</div>
