<div class="gestor-container">
  <button (click)="goHome()">Página Inicial</button>
  <header>
    <h1>Área do Gestor</h1>
  </header>

  <nav class="gestor-menu">
    <a routerLink="/gestor/taxis" class="btn">Gerir Táxis</a>
    <a routerLink="/gestor/motoristas" class="btn">Gerir Motoristas</a>
    <a routerLink="/gestor/confortos" class="btn">Gerir Confortos</a>
    <a routerLink="/gestor/stats" class="btn">Ver Estatísticas</a>
  </nav>

  <main class="gestor-conteudo">
    <router-outlet></router-outlet>
  </main>
</div>
