<div *ngIf="conforto">
    <h2>{{conforto.name}} </h2>
  
    <form #confortoForm="ngForm">
      <div>
        <label for="preco">Preço por minuto: </label>
        <input
          id="preco_inpt"
          name="preco"
          type="number"
          [(ngModel)]="conforto.preco"
          required
          min="0.01"
          #precoModel="ngModel"
          placeholder="{{conforto.preco}}"
        />
        <div *ngIf="precoModel.invalid && precoModel.touched" class="error">
          O preço deve ser um número positivo.
        </div>
      </div>
  
      <br />
  
      <div>
        <label for="acrescimo">Acréscimo período: </label>
        <input
          id="acrescimo_inpt"
          name="acrescimo"
          type="number"
          [(ngModel)]="conforto.acrescimo"
          required
          min="1"
          max="2"
          #acrescimoModel="ngModel"
          placeholder="{{conforto.acrescimo}}"
        />
        <div *ngIf="acrescimoModel.invalid && acrescimoModel.touched" class="error">
          O acréscimo deve ser um número positivo entre 1 e 2!
        </div>
      </div>
  
      <br />
  
      <button type="button" (click)="goBack()">Go Back</button>
      <button type="button" [disabled]="confortoForm.invalid" (click)="updateConforto()">Save</button>
    </form>
  </div>
  