<h2>Details</h2>

<div *ngIf="taxi">
  <h2>{{ taxi.matricula | uppercase }} Details</h2>
  <div><span>id: </span>{{ taxi.matricula }}</div>

  <div>
    <label for="taxi-matricula">Taxi Matricula: </label>
    <input
      id="taxi-matricula"
      [(ngModel)]="taxi.matricula"
      placeholder="matricula"
      (ngModelChange)="validate()"
    />
  </div>

  <div>
    <label for="taxi-marca">Marca: </label>
    <input
      id="taxi-marca"
      [(ngModel)]="taxi.marca"
      placeholder="marca"
      (ngModelChange)="validate()"
    />
  </div>

  <div>
    <label for="taxi-ano_compra">Ano de Compra: </label>
    <input
      id="taxi-ano_compra"
      [(ngModel)]="taxi.ano_compra"
      placeholder="ano_compra"
      (ngModelChange)="validate()"
      type="number"
    />
  </div>

  <div>
    <label for="taxi-modelo">Modelo: </label>
    <input
      id="taxi-modelo"
      [(ngModel)]="taxi.modelo"
      placeholder="modelo"
      (ngModelChange)="validate()"
    />
  </div>

  <div>
    <label for="taxi-nivel_conforto">Nivel de Conforto: </label>
    <input
      id="taxi-nivel_conforto"
      [(ngModel)]="taxi.nivel_conforto"
      placeholder="nivel_conforto"
      (ngModelChange)="validate()"
    />
  </div>
  <button type="button" (click)="goBack()">Go Back</button>
  <button type="button" [disabled]="!vallid" (click)="save()">Save</button>
</div>
