<div *ngIf="conforto">
    <h2>Simulador de viagem com taxi de nível {{conforto.name}}</h2>
    <form (ngSubmit)="calculate(+iHoraInput.value, +iMinutInput.value, +fHoraInput.value,
     +fMinutInput.value, +conforto.preco, +conforto.acrescimo)" class="update-form">
        
        <label for="horaPartida">Hora de Partida: </label>
        <input #iHoraInput type="number" id="horaPartida" placeholder="0" min="0" max="23"> 
        <label for="minutosPartida">Minutos de Partida: </label>
        <input #iMinutInput type="number" id="minutosPartida" placeholder="0" min="0" max="59">
        
        <label for="horaChegada">Hora de Chegada: </label>
        <input #fHoraInput type="number" id="horaChegada" placeholder="0" min="0" max="23"> 
        <label for="minutosChegada">Minutos de Chegada: </label>
        <input #fMinutInput type="number" id="minutosChegada" placeholder="0" min="0" max="59">
        
        <button type="submit">Simular</button>
    </form>
    
    <p>O custo da viagem será: {{precoFinal}} €</p>
    <button type="button" (click)="goBack()">Voltar</button>
</div>
