<h2>Taxis</h2>

<div class="forms">
  <label for="matricula">Matricula:</label>
  <input
    id="matricula"
    name="matricula"
    [(ngModel)]="taxi.matricula"
    (ngModelChange)="validateMatricula()"
    type="string"
  />
  <div *ngIf="fieldErrors['matricula']" class="error">
    {{ fieldErrors["matricula"] }}
  </div>

  <label for="ano_compra">Ano de Compra:</label>
  <input
    id="ano_compra"
    name="ano_compra"
    [(ngModel)]="taxi.ano_compra"
    (ngModelChange)="validateAnos()"
    type="number"
  />
  <div *ngIf="fieldErrors['ano_compra']" class="error">
    {{ fieldErrors["ano_compra"] }}
  </div>

  <label for="marca">Marca:</label>
  <input
    id="marca"
    name="marca"
    [(ngModel)]="taxi.marca"
    (ngModelChange)="validateMarca()"
    type="string"
  />
  <div *ngIf="fieldErrors['marca']" class="error">
    {{ fieldErrors["marca"] }}
  </div>

  <label for="modelo">Modelo:</label>
  <input
    id="modelo"
    name="modelo"
    [(ngModel)]="taxi.modelo"
    (ngModelChange)="validateModelo()"
    type="string"
  />
  <div *ngIf="fieldErrors['modelo']" class="error">
    {{ fieldErrors["modelo"] }}
  </div>

  <label for="nivel_conforto">Nível de Conforto:</label>
  <input
    id="nivel_conforto"
    name="nivel_conforto"
    [(ngModel)]="taxi.nivel_conforto"
    (ngModelChange)="validateConforto()"
    type="string"
  />
  <div *ngIf="fieldErrors['nivel_conforto']" class="error">
    {{ fieldErrors["nivel_conforto"] }}
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add()"
    [disabled]="!formValid"
  >
    Add taxi
  </button>
</div>

<ul class="taxis">
  <li *ngFor="let taxi of taxis">
    <a routerLink="/detail/{{ taxi.matricula }}">
      <span class="badge">{{ taxi.matricula }}</span> {{ taxi.matricula }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete taxi"
      (click)="delete(taxi)"
    >
      x
    </button>
  </li>
</ul>
