<div class="search-container">
  <h2>Buscar Motorista</h2>
  <div class="search-box-group">
    <label for="search-box">Digite o NIF</label>
    <input
      #searchBox
      id="search-box"
      type="text"
      placeholder="123456789"
      (input)="search(searchBox.value)"
      (focus)="onSearchBoxFocus()"
    />
  </div>

  <ul class="search-results">
    <li *ngFor="let motorista of motoristas$ | async">
      <button (click)="goToMotoristaDetails(motorista)">
        {{ motorista.pessoa.nif }}
      </button>
    </li>
  </ul>

  <p *ngIf="notFound" class="not-found">Nenhum motorista encontrado.</p>
</div>
