/* Application-wide Styles */
h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: #c41db6;
}
.main-menu {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(83, 114, 250); /* Optional contrast card */
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
body,
input[type="text"],
button {
  color: #10b848da;
  font-family: Cambria, Georgia, serif;
  background-color: #0165fa;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: rgb(50, 37, 238);
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
