<div class="motorista-details" *ngIf="motorista">
  <h2 class="title">Turnos do {{ motorista.pessoa.nome }}</h2>

  <section class="shifts-section">
    <h3>Turnos feitos pelo condutor {{ motorista.pessoa.nome }}</h3>
    <ul *ngIf="allShifts.length > 0; else noShifts" class="shifts-list">
      <li *ngFor="let turno of allShifts">
        <span class="shift-time"
          >{{ turno.start | date : "short" }} -
          {{ turno.end | date : "short" }}</span
        >
        <span class="shift-taxi">Taxi: {{ turno.taxi.matricula }}</span>
      </li>
    </ul>
    <ng-template #noShifts>
      <p class="no-shifts">
        Não foram encontrados turnos feitos por este motorista.
      </p>
    </ng-template>
  </section>

  <section class="new-shift-section">
    <h3>Pedir taxi para novo Turno</h3>
    <form (ngSubmit)="getAvailableTaxisForShift()" #shiftForm="ngForm">
      <div class="input-group">
        <label for="start">Início</label>
        <input
          type="datetime-local"
          id="start"
          [(ngModel)]="start"
          name="start"
          required
          #startField="ngModel"
          (ngModelChange)="validateShiftTimes()"
        />
        <div
          *ngIf="startField.invalid && startField.touched"
          class="error-message"
        >
          É necessário o tempo inicial e tem de ser no futuro.
        </div>
      </div>

      <div class="input-group">
        <label for="end">Fim</label>
        <input
          type="datetime-local"
          id="end"
          [(ngModel)]="end"
          name="end"
          required
          #endField="ngModel"
          (ngModelChange)="validateShiftTimes()"
        />
        <div *ngIf="endField.invalid && endField.touched" class="error-message">
          É necessário o tempo final e tem de ser no futuro.
        </div>
      </div>

      <div *ngIf="timeError" class="error-message">{{ timeError }}</div>
      <div *ngIf="overlapError" class="error-message">{{ overlapError }}</div>

      <button
        type="submit"
        [disabled]="shiftForm.invalid || timeError || overlapError"
      >
        Obter táxis disponíveis
      </button>
    </form>
  </section>

  <section *ngIf="availableTaxis.length > 0" class="available-taxis">
    <h4>Táxis disponíveis</h4>
    <ul class="taxi-list">
      <li *ngFor="let taxi of availableTaxis">
        <span>{{ taxi.matricula }} - {{ taxi.marca }} {{ taxi.modelo }}</span>
        <button (click)="requestTaxiForShift(taxi)">Pedir Táxi</button>
      </li>
    </ul>
  </section>
</div>
