<h2>My Motoristas</h2>

<div class="forms">
  <h3>Pessoa</h3>
  
  <label for="pessoa.nome">Nome:</label>
  <input class="form-control" name="nome" [(ngModel)]="motorista.pessoa.nome" required />
  <div class="text-danger" *ngIf="fieldErrors['nome']">{{ fieldErrors['nome'] }}</div>

  <label for="pessoa.nif">NIF:</label>
  <input class="form-control" name="nif" [(ngModel)]="motorista.pessoa.nif" (ngModelChange)="validateNif()" required />
  <div class="text-danger" *ngIf="fieldErrors['nif']">{{ fieldErrors['nif'] }}</div>

  <label for="pessoa.genero">Género:</label>
  <select class="form-control" name="genero" [(ngModel)]="motorista.pessoa.genero" required>
    <option value="" disabled selected>Seleciona o género</option>
    <option value="masculino">Masculino</option>
    <option value="feminino">Feminino</option>
  </select>

  <h3>Morada</h3>
  
  <label for="morada.rua">Rua:</label>
  <input class="form-control" name="rua" [(ngModel)]="motorista.morada.rua" required />

  <label for="morada.numPorta">Número da Porta:</label>
  <input class="form-control" name="numPorta" [(ngModel)]="motorista.morada.numPorta" required />

  <label for="morada.codigoPostal">Código Postal:</label>
  <input class="form-control" name="codigoPostal" [(ngModel)]="motorista.morada.codigoPostal" (ngModelChange)="validateCodigoPostal()" required (change)="onCodigoPostalChange()" />
  <div class="text-danger" *ngIf="fieldErrors['codigoPostal']">{{ fieldErrors['codigoPostal'] }}</div>

  <label for="morada.localidade">Localidade:</label>
  <input class="form-control" name="localidade" [(ngModel)]="motorista.morada.localidade" readonly />

  <h3>Outros</h3>

  <label for="anoNascimento">Ano de Nascimento:</label>
  <input class="form-control" type="number" name="anoNascimento" [(ngModel)]="motorista.anoNascimento" required />
  
  <label for="cartaConducao">Carta de Condução:</label>
  <input class="form-control" name="cartaConducao" [(ngModel)]="motorista.cartaConducao" required />


  <button 
  type="button"
  class="add-button"
  (click)="add()"
  [disabled]="!formValid">Adicionar Motorista</button>
</div>

<ul class="motoristas">
  <li *ngFor="let motorista of motoristas">
    <a routerLink="/detail/{{ motorista.pessoa.nif }}">
      <span class="badge">{{ motorista.pessoa.nif }}</span> {{ motorista.pessoa.nome }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete motorista"
      (click)="delete(motorista)"
    >
      x
    </button>
  </li>
</ul>