<h2>Pedidos Pendentes</h2>
<ul *ngIf="viagensPendentes.length > 0; else semPedidos">
  <li *ngFor="let viagem of viagensPendentes">
    <p><strong>Cliente:</strong> {{ viagem.cliente.pessoa.nome }}</p>
    <p><strong>Origem:</strong> {{ viagem.origem.rua }}</p>
    <p><strong>Destino:</strong> {{ viagem.destino.rua }}</p>
    <p><strong>Conforto:</strong> {{ viagem.conforto }}</p>
    <button (click)="aceitarViagem(viagem._id)">Aceitar</button>
    <hr />
  </li>
</ul>
<ng-template #semPedidos>
  <p>Não há pedidos pendentes.</p>
</ng-template>

